$color-1: #272727;
$color-2: #38c695;
$color-3: #b27cf5;
$color-4: #feb960;
$color-5: #fc5f45;
$color-6: #e0e0e0;
$color-7: #313131;
$color-8: #f7f7f7;
$color-9: #fff;
$color-10: #616161;
$color-11: #000;
$color-12: #efefef;
$color-13: #cccccc;
$color-14: #3f4049;

$bp-largest: 81.25em; // 1300px
$decrease-size: 78em; // 1248px
$large-size: 75em; // 1200px
$big-size: 62em; // 992px
$medium-size: 49em; // 784px
$semi-medium-size: 40em; // 640px
$small-size: 36em; // 576px
$semi-small-size: 27.75em; // 444px
$tiny-size: 20em; // 320px
